@use 'variables.scss' as v;

@font-face {
  font-family: 'Roboto Slab';
  src: url('../assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url('../assets/maeve_3_3.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#app {
  @include v.flex(column, center, center);
  color: #fff;
  font-family: 'Roboto Slab', serif;
}

header {
  .short {
    display: none;
  }
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  @include v.flex(row, space-between, center);
  gap: 5px 25px;
  flex-wrap: wrap;
  padding: 15px;
  backdrop-filter: blur(200px) brightness(0.1) contrast(0.8);
  -webkit-backdrop-filter: blur(200px) brightness(0.1) contrast(0.8);

  .right-side {
    @include v.flex(column, space-between, flex-end);
    .lang-button {
      @include v.no-select;
      @include v.flex(row, center, center);
      gap: 10px;
      a {
        // background-color: #5865f2;
        padding: 2.5px 10px;
        border-radius: 25px;
        color: #fff;
        text-decoration: none;
        font-size: 1.1em;
        // margin-right: 15px;
        &.router-link-active {
          color: #a6a6a6;
          cursor: default;
        }
      }
      span {
        font-size: 1.1em;
      }
    }
  }
}

.page {
  position: absolute;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;
  padding-top: 200px;

  @include v.flex(column, flex-start, center);
  h1 {
    text-align: center;
    width: 100%;
    font-size: 2.7em;
  }

  .party {
    width: 100%;
    @include v.flex(column, flex-start, flex-start);
    gap: 15px;
    img {
      width: 100%;
      max-width: 600px;
      max-height: 400px;
      object-fit: scale-down;
      border-radius: 25px;
      align-self: center;
      background-color: #fff;
    }
    h3 {
      margin-top: 40px;
      .colour {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 2px;
        border-radius: 50%;
        border: 1px solid #000;
        outline: 1px solid #fff;
      }
    }
  }
  .form {
    h2 {
      margin-top: 40px;
    }

    backdrop-filter: blur(100px) brightness(0.6);
    -webkit-backdrop-filter: blur(40px) brightness(0.6);
    @include v.flex(column, flex-start, center);
    width: calc(100% - 40px);
    border-radius: 25px;
    padding: 25px;
    margin-top: 150px;
    max-width: 900px;
    gap: 15px;
    .input-field {
      width: 100%;
      label {
        text-align: left;
        align-self: flex-start;
      }
      input {
        background-color: transparent;
        border: 2px solid #dadada;
        border-style: none none solid none;
        height: 50px;
        width: 100%;
        transition: border 0.1s ease-out;
        color: #fff;
        font-size: 1.1em;
        &:focus {
          outline: none;
          border: 3px solid #fdfdfd;
          border-style: none none solid none;
        }
        &::placeholder {
          color: #fff;
          opacity: 0.3;
        }
      }
    }
    iframe {
      width: 100%;
      max-width: 600px;
      height: 400px;
      border: none;
      border-radius: 25px;
    }
    .discord-button {
      @include v.flex(row, center, center);
      img {
        height: 35px;
        margin-right: 10px;
        @include v.no-drag;
      }
        text-align: center;
      text-decoration: none;
      background-color: #5865f2;
      margin-bottom: 50px;
      color: #fff;
      border: none;
      border-radius: 25px;
      padding: 15px 25px;
      font-size: 1.1em;
      cursor: pointer;
      transition: transform 0.1s ease-out;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
        opacity: 0.8;
      }
    }
  }
  footer {
    padding: 15px;
    span {
      font-size: 1em;
      color: #00000063;
    }
  }
}
